*{
    margin: 10px;
    text-decoration: none;
    background-color: bisque;
}
/*div{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/